@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>HIYA</title>
	</head>
	<body>
		<h2>HIYA LUV!</h2>
		<p>@Model</p>
	</body>
</html>
